<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Register</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>
<link rel='stylesheet' href='https://cdn.jsdelivr.net/sweetalert2/6.1.1/sweetalert2.min.css'><link rel="stylesheet" href="{{ url_for('static', filename='styless.css') }}">
<style>body{ touch-action: manipulation;}</style>
</head>
<body>
<!-- partial:index.partial.html -->
<div class="text-center">
<button type="button" class="btn btn-info">
  Register user
</button>
</div>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
<script src='https://cdn.jsdelivr.net/sweetalert2/6.1.1/sweetalert2.min.js'></script><script  src="{{ url_for('static', filename='scripts.js') }}"></script>

</body>
</html>
